/* 二级导航栏 */
.twonavbar {
    width: 100%;
    height: auto;
    line-height: 60px;
    background: #f0f0f0;
    border-bottom: 10px solid #fff0c9;
}

.twonavbar ul {
    margin: 0 8%;
    width: 84%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.twonavbar ul li {
    margin: 0px 30px 0px 0px;
}

.twonavbar ul li a {
    color: #01788c;
    font-weight: bold;
    padding: 7px 0px;
}
.twonavbar ul li.on a{
    border-bottom: 4px solid #01788c;
}
.twonavbar ul li a:hover {
    color: #244e60;
}

.breadnavbar {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
}

.breadnavbar nav {
    margin: 0 8%;
    width: 84%;
    height: 40px;
}

.breadnavbar nav span {
    font-size: 14px;
}

.breadnavbar nav ol {
    display: inline-block;
    padding: 8px 0;
    list-style: none;
    margin: 0;
}

.breadnavbar nav ol li+li::before {
    display: inline-block;
    padding-right: .5rem;
    color: #404040;
    content: "/"
}

.breadnavbar nav ol li {
    display: inline-block;
    line-height: 0;
    position: relative;
}

.breadnavbar nav ol li a {
    font-size: 14px;
    color: #01788c;
}

.breadnavbar nav ol li:nth-last-child(1) a {
    color: #404040;
}

.breadnavbar nav ol li a:hover {
    text-decoration: underline;
}

.main {
    margin: 30px 8% 50px 8%;
    width: 84%;
    height: auto;
    background: #ffffff;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(0, 1fr) 17.25rem;
    column-gap: .625rem;
}

.main .left {
    width: 100%;
    height: auto;
}

.main .left>h1 {
    line-height: 80px;
    height: 80px;
    font-size: 40px;
    color: #96c8d3;
    font-weight: bold;
    margin-bottom: 15px;
}

.main .left>h6 {
    line-height: 25px;
    color: #404040;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

.main .left>p {
    line-height: 25px;
    color: #404040;
    font-size: 14px;
    margin-bottom: 15px;
}

.main .left .child {
    position: relative;
    width: 100%;
    height: auto;
    clear: both;
    padding-bottom: 5%;
}

.main .left .child>div {
    margin-bottom: 20px;
}

.main .left .child .title h5 {
    color: #404040;
    font-weight: bold;
    display: flex;
}

.main .left .child .title h5::after {
    content: "";
    display: block;
    width: auto;
    margin-left: 20px;
    height: 12px;
    align-self: center;
    background-color: #fff0c9;
    flex: 1;
}

.main .left .child .ulli ul {
    padding-left: 40px;
}

.main .left .child .ulli ul li {
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    list-style-type: square;
}

.main .left .child .word p {
    font-size: 14px;
}

.main .left .child .img-word {
    width: 100%;
    height: auto;
    min-height: 120px;
}

.main .left .child .img-word img {
    width: 30%;
    max-width: 350px;
    min-width: 250px;
    height: auto;
    padding: 0px 15px;
    float: left;
}

.main .left .child .img-word p {
    font-size: 14px;
}

.main .left .child .img-ulli {
    width: 100%;
    height: auto;
    min-height: 420px;
}

.main .left .child .img-ulli img {
    width: 33%;
    min-width: 230px;
    height: auto;
    padding: 0px 15px;
    float: left;
}

.main .left .child .img-ulli>div {
    float: left;
    width: 33%;
    height: auto;
    padding: 0px 15px;
}

.main .left .child .img-ulli div ul {
    position: relative;
    height: auto;
    padding-left: 40px;
    margin-bottom: 20px;
}

.main .left .child .img-ulli div ul li {
    font-size: 14px;
    height: auto;
    line-height: 20px;
    list-style-type: square;
}

.main .right {
    width: 100%;
    height: max-content;
}

.main .right .box {
    width: 100%;
    height: max-content;
    background: #f0f0f0;
    margin-bottom: 10px;
}

.main .right .box h2 {
    color: #96c8d3;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    padding: 15px 15px 0px 15px;
}

.main .right .box .contact {
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main .right .box .contact .card {
    border: 0;
    background: #f0f0f0;
}

.main .right .box .contact .card div div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main .right .box .contact .card div .card-body {
    padding: 0px 0px 0px 10px;
}

.main .right .box .contact .card div .card-body .card-title {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0px;
}

.main .right .box .contact .card div .card-body p {
    font-size: 14px;
}

@media all and (max-width:1280px) {
    .main .left .child .img-word img {
        float: none;
        width: 100%;
        max-width: 400px;
    }

    .main .left .child .img-word p {
        float: none;
    }

    .main .left .child .img-ulli img {
        float: none;
        width: 100%;
        max-height: 400px;
        object-fit: contain;
        display: block;
        margin: 40px auto;
    }

    .main .left .child .img-ulli>div {
        float: none;
        width: 100%;
    }
}

@media all and (max-width:768px) {
    .twonavbar {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .main .right .box .contact .card {
        width: 100%;
    }

    .main .right .box .contact .card .row {
        width: 100%;
        display: grid;
        grid-template-columns: 100px 1fr;
    }

    .main .right .box .contact .card .col-md-4 {
        max-width: 100%;
    }

    .main .right .box .contact .card .col-md-8 {
        max-width: 100%;
    }
}