.main .left .child {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    margin: 2rem 0 0 0;
    gap: 2.5rem 1.5625rem;
    grid-template-columns: repeat(auto-fill, minmax(18.125rem, 1fr));
}

.main .left .child .card {
    position: relative;
    width: 100%;
    height: auto;
    border: 0;
}

.main .left .child .card a img {
    max-height: 200px;
}

.main .left .child .card .card-body .card-title a {
    font-size: 20px;
    color: #01788c;
    font-weight: bold;
}

.main .left .child .card .card-body .card-title a:hover {
    color: #244e60;
}

.main .left .child .card .card-body .card-text {
    font-size: 14px;
}