.main {
    display: block;
}
.main .left .s-line{
    width: 100%;
    height: 50px;
    position: relative;
}
.main .left .s-line form .group-one{
    width: 100%;
    height: 50px;
}
.main .left .s-line form .group-one .input-search:focus-visible {
    box-shadow: 0px 0px 10px #01788c;
}
.main .left .s-line form .group-two{
    width: 100px;
    height: 50px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}
.main .left .s-line form .group-two button{
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #01788c;
    border: 0;
}
.main .left .s-line form .group-two button:focus {
    outline: 0;
}
.main .left h1 {
    line-height: 60px;
    height: 60px;
}
.main .left>p {
    padding: 30px 0px 10px 0px;
}

.main .left .searchli {
    width: 100%;
    height: auto;
}
.main .left .searchli>ol{
    margin-left: 40px;
}
.main .left .searchli>ol>li{
    margin-bottom: 20px;
    font-size: 14px;
    list-style-type: decimal;
}
.main .left .searchli ol li div{
    line-height: 25px;
    height: auto;
    font-size: 14px;
}
.main .left .searchli ol li div a{
    font-size: 14px;
    font-weight: bold;
    color: #01788c;
}
.main .left .searchli ol li div a:hover {
    color: #244e60;
} 
.main .left .searchli ol li div ol{
    display: inline-block;
    list-style: none;
    margin: 0;
}
.main .left .searchli ol li div ol li{
    display: inline-block;
    line-height: 0;
    position: relative;
}
.main .left .searchli ol li div ol li a {
    font-weight: normal;
}
.main .left .searchli ol li div ol li a:hover {
    text-decoration: underline;
} 
.main .left .searchli ol li div ol li+li::before {
    display: inline-block;
    padding: 0px 7px 0px 5px;
    color: #404040;
    content: "/"
}

.main .left .paging {
    margin: 20px 0px;
    height: 40px;
    line-height: 40px;
}

.main .left .paging ul li {
    float: left;
    width: 40px;
    text-align: center;
}

.main .left .paging ul li a {
    font-weight: bolder;
    color: #01788c;
    padding: 7px 3px;
}

.main .left .paging ul li.p-icon a {
    font-size: 20px;
}

.main .left .paging ul li.p-left {
    margin-right: 50px;
}

.main .left .paging ul li.p-right {
    margin-left: 50px;
}

.main .left .paging ul li.p-icon:hover {
    border-radius: 20px;
    background-color: #f0f0f0;
}

.main .left .paging ul li.p-item:hover a {
    color: #244e60;
    border-bottom: 3px solid #01788c;
}

.main .left .paging ul li.on a {
    color: #244e60;
    border-bottom: 3px solid #01788c;
}
