<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../bootstrap4/bootstrap.min.css">
    <script src="../bootstrap4/jquery-3.3.1.slim.min.js"></script>
    <script src="../bootstrap4/bootstrap.min.js"></script>
    <script src="../bootstrap4/popper.min.js"></script>
    <link rel="stylesheet" href="../Css/animate.min.css">
    <!-- 自定义 -->
    <link rel="stylesheet" href="../Css/clear.css">
    <link rel="stylesheet" href="../Css/master.css">
    <script src="../Scripts/master.js"></script>

    <link rel="stylesheet" href="../Css/index.css">
    <script src="../Scripts/index.js"></script>
</head>

<body>
    <!--头部 sticky-top -->
    <div class="header">
        <!--左侧logo-->
        <div class="left">
            <a href="Index.html">
                <img src="../Image/logo.png" title="上海卓位信息技术有限公司" alt="上海卓位信息技术有限公司">
            </a>
        </div>
        <!-- 上方搜索+下载+链接+语言 -->
        <div class="top">
            <!--语言-->
            <span class="language">
                <a href="Index.html" class="active">中文</a>
                <span>|</span>
                <a href="en/Index.html">English</a>
            </span>
            <!--下载-->
            <span class="downloads">
                <a href="downloads.html">
                    下载
                    <svg class="bi bi-download" width="1.1em" height="1.1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z" />
                        <path fill-rule="evenodd"
                            d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z" />
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z" />
                    </svg>
                </a>
            </span>
            <!--链接-->
            <span class="links">
                <a href="links.html">
                    链接
                    <svg class="bi bi-box-arrow-up-right" width="1.1em" height="1.1em" viewBox="0 0 16 16"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                        <path fill-rule="evenodd"
                            d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
                    </svg>
                </a>
            </span>
            <!--搜索-->
            <span class="search">
                <form action="search.html" method="POST">
                    <!-- 搜索图标按钮 -->
                    <span class="input-inline">
                        <button class="btn btn-sub" type="submit">
                            <svg class="bi bi-search" width="0.9em" height="0.9em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>
                    </span>
                    <!-- 搜索框 -->
                    <input type="text" name="search-name" class="text-search" placeholder="搜索网站">
                </form>
            </span>
        </div>
        <!--下方导航栏-->
        <div class="bottom">
            <!-- 一级菜单 -->
            <ul class="plone-nav">
                <li>
                    <!-- 标题 -->
                    <a href="Par.html" class="nav-title">合作伙伴</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">合作伙伴</label>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="showul ula">
                        <li class="bgli"><a href="./Par/par1.html">ANSYS</a></li>
                        <li class="bgli"><a href="./Par/par2.html">LST</a></li>
                        <li class="bgli"><a href="./Par/par3.html">CATARC</a></li>
                    </ul>
                </li>
                <li>
                    <!-- 标题 -->
                    <a href="New.html" class="nav-title">新闻咨讯</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">新闻咨讯</label>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="showul ulb">
                        <li class="bgli"><a href="./New/new1.html">新闻咨讯</a></li>
                    </ul>
                </li>
                <li>
                    <!-- 标题 -->
                    <a href="Comp.html" class="nav-title">公司概况</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">公司概况</label>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="showul ulc">
                        <li class="bgli"><a href="./Comp/comp1.html">公司简介</a></li>
                        <li class="bgli"><a href="./Comp/comp2.html">诚聘英才</a></li>
                        <li class="bgli"><a href="./Comp/comp3.html">联系我们</a></li>
                    </ul>
                </li>
                <li class="twoword">
                    <!-- 标题 -->
                    <a href="Ser.html" class="nav-title">服务</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">服务</label>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="showul uld">
                        <li class="bgli"><a href="./Ser/ser1.html">LS-DYNA</a></li>
                        <li class="bgli"><a href="./Ser/ser2.html">Models</a></li>
                        <li class="bgli"><a href="./Ser/ser3.html">Pre- and Postprocessing</a></li>
                        <li class="bgli"><a href="./Ser/ser4.html">Optimization</a></li>
                    </ul>
                </li>
                <li class="twoword">
                    <!-- 标题 -->
                    <a href="Pro.html" class="nav-title">产品</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">产品</label>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="showul ule">
                        <li class="bgli"><a href="./Pro/pro1.html">LS-DYNA</a></li>
                        <li class="bgli"><a href="./Pro/pro2.html">Models</a></li>
                        <li class="bgli"><a href="./Pro/pro3.html">Pre- and Postprocessing</a></li>
                        <li class="bgli"><a href="./Pro/pro4.html">Optimization</a></li>
                        <li class="bgli"><a href="./Pro/pro5.html">Process Chain</a></li>
                        <li class="bgli"><a href="./Pro/pro6.html">Simulation Data Management</a></li>
                        <li class="bgli"><a href="./Pro/pro7.html">Material Cards</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 隐藏导航栏1 -->
        <div class="new-nav">
            <!-- 一级菜单 -->
            <ul class="plone-nav">
                <li class="twoword">
                    <!-- 标题 -->
                    <a href="Pro.html" class="nav-title">产品</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">产品</label>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="showul ule">
                        <li class="bgli"><a href="./Pro/pro1.html">LS-DYNA</a></li>
                        <li class="bgli"><a href="./Pro/pro2.html">Models</a></li>
                        <li class="bgli"><a href="./Pro/pro3.html">Pre- and Postprocessing</a></li>
                        <li class="bgli"><a href="./Pro/pro4.html">Optimization</a></li>
                        <li class="bgli"><a href="./Pro/pro5.html">Process Chain</a></li>
                        <li class="bgli"><a href="./Pro/pro6.html">Simulation Data Management</a></li>
                        <li class="bgli"><a href="./Pro/pro7.html">Material Cards</a></li>
                    </ul>
                </li>
                <li class="twoword">
                    <!-- 标题 -->
                    <a href="Ser.html" class="nav-title">服务</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">服务</label>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="showul uld">
                        <li class="bgli"><a href="./Ser/ser1.html">LS-DYNA</a></li>
                        <li class="bgli"><a href="./Ser/ser2.html">Models</a></li>
                        <li class="bgli"><a href="./Ser/ser3.html">Pre- and Postprocessing</a></li>
                        <li class="bgli"><a href="./Ser/ser4.html">Optimization</a></li>
                    </ul>
                </li>
                <li>
                    <!-- 标题 -->
                    <a href="Comp.html" class="nav-title">公司概况</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">公司概况</label>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="showul ulc">
                        <li class="bgli"><a href="./Comp/comp1.html">公司简介</a></li>
                        <li class="bgli"><a href="./Comp/comp2.html">诚聘英才</a></li>
                        <li class="bgli"><a href="./Comp/comp3.html">联系我们</a></li>
                    </ul>
                </li>
                <li>
                    <!-- 标题 -->
                    <a href="New.html" class="nav-title">新闻咨讯</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">新闻咨讯</label>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="showul ulb">
                        <li class="bgli"><a href="./New/new1.html">新闻咨讯</a></li>
                    </ul>
                </li>
                <li>
                    <!-- 标题 -->
                    <a href="Par.html" class="nav-title">合作伙伴</a>
                    <!-- 隐藏的下拉图标 -->
                    <label class="showicon">合作伙伴</label>
                    <!-- 隐藏的二级菜单  -->
                    <ul class="showul ula">
                        <li class="bgli"><a href="./Par/par1.html">ANSYS</a></li>
                        <li class="bgli"><a href="./Par/par2.html">LST</a></li>
                        <li class="bgli"><a href="./Par/par3.html">CATARC</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 隐藏导航栏2 -->
        <div class="hide-nav">
            <!-- 上方menu+搜索 -->
            <form action="" method="POST">
                <!-- menu图标 -->
                <span class="nav-icon">
                    <!-- 显示menu图标 -->
                    <svg class="bi bi-square show-svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    <!-- 隐藏x图标 -->
                    <svg class="bi bi-x yc-svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                        <path fill-rule="evenodd"
                            d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                    </svg>
                </span>
                <!-- 搜索框 -->
                <span class="group-one"><input type="text" class="input-search" placeholder="搜索网站"></span>
                <!-- 搜索图标按钮 -->
                <span class="group-two">
                    <button type="submit">
                        <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                    </button>
                </span>
            </form>
            <!-- 下方隐藏nav一级菜单-->
            <ul class="onenav">
                <li>
                    <a href="Pro.html">产品</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- nav二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./Pro/pro1.html">产品1</a></li>
                        <li><a href="./Pro/pro2.html">产品2</a></li>
                        <li><a href="./Pro/pro3.html">产品3</a></li>
                        <li><a href="./Pro/pro4.html">产品4</a></li>
                        <li><a href="./Pro/pro5.html">产品5</a></li>
                        <li><a href="./Pro/pro6.html">产品6</a></li>
                        <li><a href="./Pro/pro7.html">产品7</a></li>
                    </ul>
                </li>
                <li>
                    <a href="Ser.html">服务</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- nav二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./Ser/ser1.html">服务1</a></li>
                        <li><a href="./Ser/ser2.html">服务2</a></li>
                        <li><a href="./Ser/ser3.html">服务3</a></li>
                        <li><a href="./Ser/ser4.html">服务4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="Comp.html">公司</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- nav二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./Comp/comp1.html">公司1</a></li>
                        <li><a href="./Comp/comp2.html">公司2</a></li>
                        <li><a href="./Comp/comp3.html">公司3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="New.html">新闻</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- nav二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./New/new1.html">新闻1</a></li>
                    </ul>
                </li>
                <li>
                    <a href="Par.html">合作</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- nav二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./Par/par1.html">合作1</a></li>
                        <li><a href="./Par/par2.html">合作2</a></li>
                        <li><a href="./Par/par3.html">合作3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--内容页-->
    <div class="content">
        <!--轮播-->
        <div class="rotation">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#">
                            <img src="../Image/轮播图1.jpg" class="d-block" title="轮播图1" alt="轮播图1">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img src="../Image/轮播图2.jpg" class="d-block" title="轮播图2" alt="轮播图2">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!--主体-->
        <div class="main">
            <!--产品-->
            <div class="bgwhite product" id="product">
                <!--标题-->
                <h1><a href="#product">产品</a></h1>
                <!--列表-->
                <div class="pro">
                    <dl>
                        <dt><a href="./Pro/pro1.html"><img src="../Image/产品1.jpg" title="ANSYS产品" alt="ANSYS产品"></a></dt>
                        <dd class="title"><a href="./Pro/pro1.html">ANSYS产品</a></dd>
                        <dd class="introduce">
                            Ansys为全世界用户提供CAE仿真工具 ，集成化的设计环境，实现了结构、振动、
                            热、流体、电磁场、电路、系统、芯片等多域多物理场及其耦合仿真，
                            满足各个行业的仿真需求，帮助使用者提高设计效率和产品性能，降低成本。
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./Pro/pro2.html"><img src="../Image/产品1.jpg" title="LS-DYNA" alt="LS-DYNA"></a></dt>
                        <dd class="title"><a href="./Pro/pro2.html">LS-DYNA</a></dd>
                        <dd class="introduce">
                            LS-DYNA是一款先进的通用有限元程序，能够模拟真实世界中的复杂问题。
                            它被广泛应用于汽车、航空航天、电子、船舶、土木工程、制造和生物工程等行业。
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./Pro/pro3.html"><img src="../Image/产品1.jpg" title="Barrier Model" alt="Barrier Model"></a></dt>
                        <dd class="title"><a href="./Pro/pro3.html">Barrier Model</a></dd>
                        <dd class="introduce">
                            阻挡层模型
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./Pro/pro4.html"><img src="../Image/产品1.jpg" title="CAE-Prosys" alt="CAE-Prosys"></a></dt>
                        <dd class="title"><a href="./Pro/pro4.html">CAE-Prosys</a></dd>
                        <dd class="introduce"">
                        CAE-Prosys是先进的多学科CAE自动化平台，可以集成平台上，辅助工程师完成绝大部分CAE辅助工作。
                    </dd>
                </dl>
                        <dl>
                            <dt><a href="./Pro/pro5.html"><img src="../Image/产品1.jpg" title="MeshWorks" alt="MeshWorks"></a>
                            </dt>
                        <dd class="title"><a href="./Pro/pro5.html">MeshWorks</a></dd>
                        <dd class="introduce">
                            MeshWorks是一款功能强大的三维设计软件，其将三维模拟、3D仿真、编辑图像等功能结合在一起，
                            功能多样性，可以激发用户对三维模拟仿真的兴趣。
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="./Pro/pro6.html"><img src="../Image/产品1.jpg" title="CATARC材料数据库" alt="CATARC材料数据库"></a>
                        </dt>
                        <dd class="title"><a href="./Pro/pro6.html">CATARC材料数据库</a></dd>
                        <dd class="introduce">
                            CATARC材料数据库是中汽研（天津）汽车工程研究院有限公司（AERI）开发的基于LS-DYNA求解器的
                            考虑应变率效应的材料数据库，包括金属，非金属和铝合金材料，主要应用于准确模拟碰撞分析中的材料性能。
                        </dd>
                    </dl>
                </div>
            </div>
            <!--服务-->
            <div class="bggray services" id="services">
                <!--标题-->
                <h1 class="newtitle"><a href="#services">服务</a></h1>
                <div class="newleft">
                    <ul>
                        <li class="newleft-active" id="r1"><a href="./Ser/ser1.html">服务1</a></li>
                        <li id="r2"><a href="./Ser/ser2.html">服务2</a></li>
                        <li id="r3"><a href="./Ser/ser3.html">服务3</a></li>
                        <li id="r4"><a href="./Ser/ser4.html">服务4</a></li>
                        <li id="r5"><a href="./Ser/ser5.html">服务5</a></li>
                    </ul>
                </div>
                <!--左侧标题-->
                <div class="left">
                    <!--标题-->
                    <h1><a href="#services">服务</a></h1>
                    <ul>
                        <li class="left-active" id="r1">
                            <h5><a href="./Ser/ser1.html">服务1</a></h5>
                            <p>11111111111111111</p>
                        </li>
                        <li id="r2">
                            <h5><a href="./Ser/ser2.html">服务2</a></h5>
                            <p>22222222222222222</p>
                        </li>
                        <li id="r3">
                            <h5><a href="./Ser/ser3.html">服务3</a></h5>
                            <p>33333333333333333</p>
                        </li>
                        <li id="r4">
                            <h5><a href="./Ser/ser4.html">服务4</a></h5>
                            <p>44444444444444444</p>
                        </li>
                        <li id="r5">
                            <h5><a href="./Ser/ser5.html">服务5</a></h5>
                            <p>55555555555555555</p>
                        </li>
                    </ul>
                </div>
                <!--右侧图片-->
                <div class="right">
                    <ul>
                        <li class="right-active" id="r1">
                            <div class="box" style="background-image: url(../Image/服务1.jpg);">
                                <h3>服务1</h3>
                                <h5>11111111111111111</h5>
                                <p>详情文字aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                            </div>
                        </li>
                        <li id="r2">
                            <div class="box" style="background-image: url(../Image/新闻1.png);">
                                <h3>服务2</h3>
                                <h5>22222222222222222</h5>
                                <p>详情文字aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                            </div>
                        </li>
                        <li id="r3">
                            <div class="box" style="background-image: url(../Image/服务1.jpg);">
                                <h3>服务3</h3>
                                <h5>33333333333333333</h5>
                                <p>详情文字aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                            </div>
                        </li>
                        <li id="r4">
                            <div class="box" style="background-image: url(../Image/服务1.jpg);">
                                <h3>服务4</h3>
                                <h5>44444444444444444</h5>
                                <p>详情文字aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                            </div>
                        </li>
                        <li id="r5">
                            <div class="box" style="background-image: url(../Image/服务1.jpg);">
                                <h3>服务5</h3>
                                <h5>55555555555555555</h5>
                                <p>详情文字aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--公司概况-->
            <div class="bgwhite company" id="company">
                <!--标题-->
                <h1><a href="#company">公司概况</a></h1>
                <!--列表-->
                <div class="com">
                    <ul class="ultitle">
                        <li class="cli top-active" id="c1"><a href="./Comp/comp1.html">公司简介</a></li>
                        <li class="cli" id="c2"><a href="./Comp/comp2.html">加入我们</a></li>
                        <li class="cli" id="c3"><a href="./Comp/comp3.html">联系我们</a></li>
                    </ul>
                    <ul class="ulword">
                        <li class="bottom-active" id="c1">
                            <img src="../Image/logo.png" title="" alt="">
                            <span>
                                上海卓位信息技术有限公司由赵海欧先生创立，赵海欧先生自2000年从南京航空航天大学毕业后，
                                曾经在美资，法资和英资企业工作，一直从事CAE工程分析和咨询工作，历任技术工程师，技术经理，
                                业务发展高级经理，销售总监和工程服务总监等职务，拥有丰富的CAE工程应用经验，
                                特别在高度非线性动力分析领域有着丰富的软件应用及工程实践经验，曾出版《LS-DYNA动力分析指南》
                                基础教程书籍，该书作为LS-DYNA软件使用人员的参考书得到广泛使用和传播，也在业界享有赞誉和认可。
                            </span>
                        </li>
                        <li id="c2">
                            <img src="../Image/logo.png" title="" alt="">
                            <span>
                                上海卓位信息技术有限公司因业务发展需要，诚聘英才加入，卓位信息将提供广阔的舞台供工程师发挥自身能量，为公司和自身创造财富和机会。目前职位招聘机会如下：
                                <br>1.CAE仿真分析工程师1名：2年以上工作经验，理工科本科以上学历，熟悉整车性能开发流程、熟悉结构耐撞开发工作；熟悉有限元假人、壁障等模型的开发、调试工作；熟练掌握LS-DYNA,RADIOSS或PAM-CRASH碰撞分析软件；英语读写及口语流利，有汽车，航空航天经验优先考虑。
                                <br>2.网格工程师1名：1年以上工作经验，理工科专科以上学历，负责完成整车或子系统的有限元网格划分工作，熟练使用Ansa或hypermesh软件，熟悉实体跟壳单元网格划分，有汽车，航空航天经验优先考虑。
                                <br>3.销售2名：3年以上CAD/CAE软件行业销售经验，专科以上学历，具有良好的客户沟通能力及行业客户关系，能善于倾听和挖掘客户需求,及时转化为销售机会，但同时能坦诚与客户沟通，以满足客户的利益为首要目标，有汽车，航空航天经验优先考虑。
                                <br>一经录用，将提供具有竞争力的薪酬体系，并有机会成为公司合伙人,共同推动公司的发展和壮大。
                            </span>
                        </li>
                        <li id="c3">
                            <img src="../Image/logo.png" title="" alt="">
                            <span>
                                <br>上海卓位信息技术有限公司
                                <br>Shanghai Dynawe Information Technology Co.,Ltd.
                                <br>办公地址：上海市闵行区春申路1955号陇盛大厦6楼616室
                                <br>Address: RM.616,Longsheng Mansion,No.1955,Chunshen Road,Minhang District,Shanghai,China 200237
                                <br>电 话(Tel)：021-33583936
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--新闻-->
            <div class="bggray news" id="news">
                <!--标题-->
                <h1><a href="#news">新闻咨讯</a></h1>
                <!--正文-->
                <div class="ne">
                    <!--新闻子项-->
                    <dl>
                        <dt class="title"><a href="./New/new1/new1-2021/new1-2021-1.html">全球最大工程仿真虚拟盛会Ansys2021 Simulation World即将再度来临</a></dt>
                        <dd class="introduce">
                            全球最大工程仿真虚拟盛会Ansys2021 Simulation World即将再度来临，为您呈现仿真如何赋予人们通过工程创新塑造未来的超强能力。
                            各行业领先企业已经纷纷采用工程仿真技术来降低成本，推动创新，并大幅度提高企业营收。
                        </dd>
                        <dd class="time">2021-04-07</dd>
                        <dd class="details">
                            <a href="./New/new1/new1-2021/new1-2021-1.html">
                                <svg class="bi bi-arrow-right-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path fill-rule="evenodd"
                                        d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
                                    <path fill-rule="evenodd"
                                        d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="title"><a href="./New/new1/new1-2021/new1-2021-2.html">LS-DYNA在汽车零部件行业的应用介绍</a></dt>
                        <dd class="introduce">
                            为了帮助汽车零部件行业进一步提升技术在自主研发创新的应用，Ansys中国将于3月5日（周五）举办《LS-DYNA在汽车零部件行业的应用介绍》免费直播。
                        </dd>
                        <dt class="time">2021-02-24</dt>
                        <dd class="details">
                            <a href="./New/new1/new1-2021/new1-2021-2.html">
                                <svg class="bi bi-arrow-right-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path fill-rule="evenodd"
                                        d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
                                    <path fill-rule="evenodd"
                                        d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="title"><a href="./New/new1/new1-2019/new1-2019-1.html">New user interface for the Oasys Software</a></dt>
                        <dd class="introduce">
                            Oasys Suite 17.0 will launch in March 2020 with a new look!
                        </dd>
                        <dt class="time">2019-12-12</dt>
                        <dd class="details">
                            <a href="./New/new1/new1-2019/new1-2019-1.html">
                                <svg class="bi bi-arrow-right-circle" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path fill-rule="evenodd"
                                        d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
                                    <path fill-rule="evenodd"
                                        d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </a>
                        </dd>
                    </dl>
                </div>
                <!-- 更多 -->
                <div class="more">
                    <a href="./New/new1.html"><input type="button" value="查看更多"></a>
                </div>
            </div>
            <!--合作伙伴-->
            <div class="bgwhite partner" id="partner">
                <!--标题-->
                <h1><a href="#partner">合作伙伴</a></h1>
                <!--正文-->
                <div class="par">
                    <div>
                        <a href="./Par/par1.html">
                            <img src="../Image/合作伙伴1.jpg" title="合作伙伴1" alt="合作伙伴1">
                        </a>
                        <p><a href="./Par/par1.html">美国ANSYS</a></p>
                    </div>
                    <div>
                        <a href="./Par/par2.html">
                            <img src="../Image/合作伙伴2.png" title="合作伙伴2" alt="合作伙伴2">
                        </a>
                        <p><a href="./Par/par2.html">中国汽车技术研究中心</a></p>
                    </div>
                    <div>
                        <a href="./Par/par3.html">
                            <img src="../Image/合作伙伴1.jpg" title="合作伙伴1" alt="合作伙伴1">
                        </a>
                        <p><a href="./Par/par3.html">美国ANSYS</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <div class="footer">
        <!--底部导航栏-->
        <div class="nav-bar">
            <ul>
                <!-- 标题 -->
                <li class="nav-title"><a href="Pro.html">产品</a></li>
                <!-- 子项 -->
                <li class="bgli"><a href="./Pro/pro1.html">LS-DYNA</a></li>
                <li class="bgli"><a href="./Pro/pro2.html">Models</a></li>
                <li class="bgli"><a href="./Pro/pro3.html">Pre- and </a></li>
                <li class="bgli"><a href="./Pro/pro4.html">Optimization</a></li>
                <li class="bgli"><a href="./Pro/pro5.html">Process Chain</a></li>
                <li class="bgli"><a href="./Pro/pro6.html">Simulation Data </a></li>
                <li class="bgli"><a href="./Pro/pro7.html">Material Cards</a></li>
            </ul>
            <ul>
                <!-- 标题 -->
                <li class="nav-title"><a href="Ser.html">服务</a></li>
                <!-- 子项 -->
                <li class="bgli"><a href="./Ser/ser1.html">LS-DYNA</a></li>
                <li class="bgli"><a href="./Ser/ser2.html">Models</a></li>
                <li class="bgli"><a href="./Ser/ser3.html">Pre- and </a></li>
                <li class="bgli"><a href="./Ser/ser4.html">Pre- and </a></li>
            </ul>
            <ul>
                <!-- 标题 -->
                <li class="nav-title"><a href="Comp.html">公司概况</a></li>
                <!-- 子项 -->
                <li class="bgli"><a href="./Comp/comp1.html">公司简介</a></li>
                <li class="bgli"><a href="./Comp/comp2.html">诚聘英才</a></li>
                <li class="bgli"><a href="./Comp/comp3.html">联系我们</a></li>
            </ul>
            <ul>
                <!-- 标题 -->
                <li class="nav-title"><a href="New.html">新闻咨讯</a></li>
                <!-- 子项 -->
                <li class="bgli"><a href="./New/new1.html">新闻咨讯</a></li>
            </ul>
            <ul>
                <!-- 标题 -->
                <li class="nav-title"><a href="Par.html">合作伙伴</a></li>
                <!-- 子项 -->
                <li class="bgli"><a href="./Par/par1.html">ANSYS</a></li>
                <li class="bgli"><a href="./Par/par2.html">LST</a></li>
                <li class="bgli"><a href="./Par/par3.html">CATARC</a></li>
            </ul>
        </div>
        <!-- 隐藏的底部导航栏 -->
        <div class="f-hide-nav">
            <!-- 一级菜单 -->
            <ul class="onenav">
                <li>
                    <!-- 标题 -->
                    <a href="Pro.html">产品</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./Pro/pro1.html">产品1</a></li>
                        <li><a href="./Pro/pro2.html">产品2</a></li>
                        <li><a href="./Pro/pro3.html">产品3</a></li>
                        <li><a href="./Pro/pro4.html">产品4</a></li>
                        <li><a href="./Pro/pro5.html">产品5</a></li>
                        <li><a href="./Pro/pro6.html">产品6</a></li>
                        <li><a href="./Pro/pro7.html">产品7</a></li>
                    </ul>
                </li>
                <li>
                    <!-- 标题 -->
                    <a href="Ser.html">服务</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./Ser/ser1.html">服务1</a></li>
                        <li><a href="./Ser/ser2.html">服务2</a></li>
                        <li><a href="./Ser/ser3.html">服务3</a></li>
                        <li><a href="./Ser/ser4.html">服务4</a></li>
                    </ul>
                </li>
                <li>
                    <!-- 标题 -->
                    <a href="Comp.html">公司</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./Comp/comp1.html">公司1</a></li>
                        <li><a href="./Comp/comp2.html">公司2</a></li>
                        <li><a href="./Comp/comp3.html">公司3</a></li>
                    </ul>
                </li>
                <li>
                    <!-- 标题 -->
                    <a href="New.html">新闻</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./New/new1.html">新闻1</a></li>
                    </ul>
                </li>
                <li>
                    <!-- 标题 -->
                    <a href="Par.html">合作</a>
                    <!-- 显示的下拉图标 -->
                    <span class="down-svg">
                        <svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                    <!-- 隐藏的向上图标 -->
                    <span class="up-svg">
                        <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                        </svg>
                    </span>
                    <!-- 隐藏的二级菜单 -->
                    <ul class="twonav">
                        <li><a href="./Par/par1.html">合作1</a></li>
                        <li><a href="./Par/par2.html">合作2</a></li>
                        <li><a href="./Par/par3.html">合作3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--公司联系信息+版权信息-->
        <div class="copy">
            <center>
                <p><img src="../Image/手机站点.jpg" title="扫一扫，访问手机站" alt="扫一扫，访问手机站"></p>
                <p>扫一扫，访问手机站</p>
                <p>上海卓位信息技术有限公司 版权所有 <a href="https://www.ibw.cn/mianze.htm">免责声明 </a><a
                        href="https://beian.miit.gov.cn/">沪ICP备16032147号-1</a></p>
                <p>地址：上海市闵行区春申路1955号陇盛大厦6楼616室</p>
                <p>电话：021-33583936 传真：021-51685850</p>
            </center>
        </div>
    </div>
</body>

</html>